<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bookstoredb</title>

    <link rel="stylesheet" href="styles/search.css">
    <script src="scripts/loginbundle.js"></script>
    <script src="scripts/searchbundle.js"></script>
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/header.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
</head>

<body>

    <div class="app" id="app">
        <header class="header">
            <h1 class="logo"><a href="#">Bookstore DB</a></h1>
            <ul class="main-nav">
                <li><a href="/search.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li id="checkout"><a href="/cart.html">Cart</a></li>
                <li id="signup"><a href="/signup.html">Sign Up</a></li>

            </ul>

            <div class='user' id='userLogin'>
                <button class="logbuttons" id='loginpopup' type="button" @click="openForm">Login</button>

                <div class="form-popup" id="myForm">
                    <form class="form-container" id="userInfoForm">
                        <h1>Login</h1>

                        <label for="Username"><b>Username</b></label>
                        <input id='getUserID' type="text" placeholder="Enter Username" name="user">

                        <label for="psw"><b>Password</b></label>
                        <input id='psw' type="password" placeholder="Enter Password" name="psw">

                        <button type="submit" id='loginbtn' class="btn">Login</button>
                        <button type="submit" class="btn cancel" @click="closeForm">Close</button>
                    </form>
                </div>
            </div>
        </header>

        <div class="search">
            <input v-model="title" id="search-bar" type="search" placeholder="Search a book today!">
            <button @click='search' id="search-button">Search</button>
        </div>

        <div class="recommend">
            <div class="bookitem" v-for="book in featuredBooks">
                <img id="bookimg" @click="moreInfo(book.book_title)" src="{{book.book_picture}}" alt="book"
                    height="200px" width="130px" style="margin:none">
                <p id="booktitle">{{book.book_title}}</p>
            </div>
        </div>
    </div>


</body>

</html>